  <div class="container">

<h1 class="slogan">URL shortener with Nodejs</h1>
<p class="slogan">Contact me at: <a href="https://www.facebook.com/z.MrSoi" target="_blank">https://www.facebook.com/z.MrSoi</a></p>
<div class="row">
  <div class="col-md-4 text-center">
    <!-- thi chu co link khong -->
    <img src="/images/xinlink1.jpg" class="img-responsive" alt="URL shortener with Nodejs" title="URL shortener with Nodejs">

  </div>
  <div class="col-md-8">
      <input class="pure-input-1" type="hidden" name="_csrf" value="TlgSXOUc-jcHSzYnqMr3wnDqVtlfUuqv4Fok">
      <div class="form-group">
        <label>Long URL (Public)</label>
        <input id="long-url" class="form-control" type="url" name="contact_me_to_use_api_dont_do_this" placeholder="Nhập Link Google Drive" required value="https://mrsoi.com">
        <p class="help-block">
            You cant create short url with 1s and and never repeat a long url... 
        </p>
      </div>
      <div class="form-action">
        <button id="btn-shorter" class="btn btn-success btn-block" type="submit"  data-loading-text="<i class='fa fa-spinner fa-spin'></i> Shortening.......">
          Create....
            <div class="bullet green"></div> 
        </button>
      </div>
      <br>
      <p id="short-url" class="form-control hidden"></p>
  </div>
  <div class="col-md-12 text-center">
    <h4>Why Custom URL Shortener?</h4>
    <p>Can’t remember the URL easily</p>
    <p>Can’t use the links where there are restrictions on text length Ex. Twitter.</p>
    <p>A custom, or branded URL shortener, is when you’ve connected your own custom domain to a URL shortener which acts as a base for all the short links you create. Instead of using a generic domain such as bit.ly or rebrand.ly, you can pick your own.</p>
    <p>I want to clarify that a URL shortener is the same as a link shortener… is the same as a link shrinker… a link compressor… a URL condenser… a vanity URL creator… I think that’s them all covered. They are all different ways of saying the same thing, which is that we want to take something long and ugly, then make it short and cute. To keep it simple, I will stick with the term URL shortener from today until the day I die.</p>
  </div>
</div>
</div>